<div>
  {{this.name}}
  <table>
    <tbody>
      {{#if userId}}
        {{> singleBlog}}
      {{else}}
        {{> singleBlogNoVote}}
      {{/if}}
    </tbody>
  </table>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io.connect();
  socket.on('blog rating', function(responseData) {

    $(`.blog-rating[data-id=${responseData.id}]`).children().text(`${responseData.rating}`)

  })
</script>
