<div id="footer">
  <div class="container">
    <p class="text-muted">Copyright ©2014 ACME, Inc.</p>

    <p class="muted">Made by: </p>
    <div>
      <p class="text-muted">Ian Harvey</p>
      <a href="https://github.com/"></a>
    </div>
    <p>and</p>
    <div>
      <p class="text-muted">Mike Hathaway</p>
      <a href="https://github.com/MikeHathaway"></a>
    </div>
  </div>
</div>
