<nav class=" nav-justified navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

    <button type="button" class="navbar-toggle col-xs-1 collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/blogs">pinpoint</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/blogs/new">add a blog<span class="sr-only">(current)</span></a></li>
      </ul>

      <div class="navbar-form navbar-right">
        <a class="btn btn-default" href="/../session">sign in</a>
      </div>

      <div class="navbar-form navbar-right">
        <div class="form-group">
          <input id="search-input" type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search" type="button" class="btn btn-default">Submit</button>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  <!-- /.container-fluid -->
</nav>
