<nav class=" nav-justified navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

    <button type="button" class="navbar-toggle col-xs-1 collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/blogs">pinpoint</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/blogs/new">add a blog<span class="sr-only">(current)</span></a></li>
      </ul>

      <div class="navbar-form navbar-right">
        <a class="btn btn-default" href="/../session">sign in</a>
      </div>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input id="search-input" type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search" type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  <!-- /.container-fluid -->
</nav>

<script src="fuse.js"></script>

<script>
//finish linking this to the fuse file and or place this within a partial

$(document).ready(function() {
  const blogs = document.getElementsByClassName('blog')
  let searchTerm = document.getElementById('search-term')

  //tags.name references the tags array in the blogs object
  const options = {
    keys: ['title', 'tags.name'],
    id: 'id'
  }

  const fuse = new Fuse(blogs,options)

  $('#search').click(() => {
    fuse.search(searchTerm)
  })
}

</script>
