html {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow: auto;
  height: 100%;
}

.no-uid-inactive {
  opacity: .4;
}

.single-blog-container {
  margin-bottom: 3em;
}

.table-borderless {
  border: 0;
}
td h3 {
  margin-bottom: .1em;
}

.alert-header {
  margin-bottom: 0px;
  width: 100%;
  height: 3rem;
  display: none;
  border-radius: 0px;
  text-align: center;
}

.blogs-container {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#footer {
  width: 100%;
  height: 4rem;
  margin-top: 3rem;
}

.content {
  min-height: 100vh;
}

.center-page, #logo {
  text-align: center;
}

#logo {
  margin-top: .75rem;
  font-size: 7rem;
  margin-bottom: 1rem;
  color: 	#ccf2ff;
}

.footer-color{
  background-color: #F0F8FF;
}


#tag-show-adition-group {
  display: none;
}

/* Styling for comments-list*/
.user_name{
    font-size:14px;
    font-weight: bold;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}

#search-input {
    width: 200px;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.git-logo {
  width: 2rem;
  height: 2rem;
}

#register-link {
  color: white;
  text-decoration: none;
}

.navbar-default {
  background-color: #F0F8FF;
  height: 6rem;
  width:100%;
}

.navbar-nav {
line-height: 4.5rem;
}

.navbar-brand {
  line-height: 3.7rem;
  font-size: 3rem;
}

.return-to-all {
  padding: 0px;
}

.pref-title {
  margin-left:1rem;
}

.navbar-right {
  margin-right: .75rem;
}

.top-of-footer {
  margin-top: 1.5rem;

}

.bottom-of-footer {
  margin-bottom: 2rem;
}
