<div class="container">
  <form action="/users/{{id}}/customize" method=POST>

    <div class="control-group">
      <div class="controls">
        <h1>Customize Your Preferences:</h1>
        {{> tagsMultiSelect}}
      </div>
    </div>

    <div class="controls">
      <button class="btn btn-success" type="submit">Customize</button>
    </div>

  </form>

  <form action="/users/{{id}}/feed" method="GET">
    <button class="btn btn-danger" type="submit">Customize Later</button>
  </form>
</div>
