<div class="container">
  <form action="/users/{{id}}/customize" method=POST>

    <div class="control-group">
      <div class="controls">
        {{> tagsMultiSelect}}
      </div>
    </div>

    <div class="controls">
      <button class="btn btn-success" type="submit">Register</button>
    </div>

  </form>
</div>
