<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Look at the userTags!
    {{#each userData}}
      {{this.user_name}}
      {{this.name}}
    {{/each}}
  </body>
</html>
