<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> logout}}
    Look at the userTags!
    User: {{userName}}
    {{#each userTags}}
      {{this.name}}
    {{/each}}
  </body>
</html>
