<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> nav }}
    {{> logout}}
    <a href="/users/{{userId}}/customize">Add Preference</a>
    <h1>{{userName}}</h1>
    <h3>Preferences:</h3>
    <ul>
      {{#each userTags}}
         <li><p>{{this.name}}</p></li>
      {{/each}}
    </ul>
    <a href="/blogs"><p>See all blogs</p></a>
    {{> singleBlog}}
  </body>
</html>
